.richjpg{
    padding: 120px 100px 60px 100px;
}


@media only screen and (max-width: 1200px)  {

    .richjpg{
        padding: 100px 60px 50px 60px;
    }
    
}

@media only screen and (max-width: 990px)  {

    .richjpg{
        padding: 170px 30px 30px 30px;
    }
    
}
